{% extends "base.html" %}

{% block content %}

<div class="container">

<h3>Admin Dashboard</h3>

<!-- CREATE POST -->
<div class="card p-3 mb-3">

<form method="post" action="/create" id="postForm">

    <input class="form-control mb-2" name="title" placeholder="Title" required>

    <div id="editor" style="height:250px; background:white;"></div>

    <input type="hidden" name="content" id="content">

    <button class="btn btn-success mt-3">Publish</button>

</form>

</div>

<hr>

{% for post in posts %}

<div class="card p-2 mb-2">
    <h5>{{ post.title }}</h5>

    <a href="/post/{{ post.slug }}" class="btn btn-primary btn-sm">View</a>
    <a href="/edit/{{ post.id }}" class="btn btn-warning btn-sm">Edit</a>
    <a href="/delete/{{ post.id }}" class="btn btn-danger btn-sm">Delete</a>
</div>

{% endfor %}

</div>

<script>
var quill = new Quill('#editor', {
    theme: 'snow',
    modules: {
        toolbar: [
            ['bold','italic','underline'],
            ['image']
        ]
    }
});

// IMAGE UPLOAD
function uploadImage() {
    const input = document.createElement('input');
    input.type = 'file';
    input.accept = 'image/*';

    input.onchange = async () => {
        const file = input.files[0];
        const formData = new FormData();
        formData.append("file", file);

        const res = await fetch("/upload-image", {
            method: "POST",
            body: formData
        });

        const data = await res.json();

        const range = quill.getSelection();
        quill.insertEmbed(range.index, 'image', data.url);
    };

    input.click();
}

quill.getModule('toolbar').addHandler('image', uploadImage);

// SUBMIT
document.getElementById("postForm").onsubmit = function () {
    document.getElementById("content").value = quill.root.innerHTML;
};
</script>

{% endblock %}